language: elixir
elixir:
  - 1.7
  - 1.8
  - 1.9
  - 1.10.3
  - 1.11
otp_release:
  - 20.3
  - 21.0
  - 22.0
  - 23.0.4
jobs:
  exclude:
    - elixir: 1.7
      otp_release: 23.0.4
    - elixir: 1.8
      otp_release: 23.0.4
    - elixir: 1.9
      otp_release: 23.0.4
    - elixir: 1.10.3
      otp_release: 20.3
    - elixir: 1.11
      otp_release: 20.3
before_script:
  - mix local.hex --force
  - mix deps.get
script:
  - mix compile --warnings-as-errors
  - mix test
notifications:
  recipients:
    - williammelo@gmail.com
